.header__header {
    display: flex;
    align-items: center;
    min-height: 70px;
    justify-content: center;
    background-color: $yellow-mercadolibre;
}

// set button default
.header__button {
    background: $white-mercadolibre;
    border: 1px solid $white-mercadolibre;
}


.header__button:hover {
    background: $white-mercadolibre;
}
.header__input{
    max-width: 58%;
    margin-left: 1%;
}