.history__content {
    margin-left: 0.2%;
}

.history__history {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.history__history li {
    list-style: none;
    display: inline-block;
}

.history__history a {
    color: grey;
    text-decoration: none;
}

.history__svg {
    float: right;
    padding: 0 6px;
}